{% extends 'budgets/layout.html' %}
{% block body %}
<h1>Transaction Detail</h1>
<ul>
  <li>Name: {{ transaction.name }}</li>
  <li>Amount: {{ transaction.amount }}£</li>
  <li>Reference Number: {{ transaction.pk }}</li>
  <li>Date: {{ transaction.date }}</li>
  {% if transaction.notes %}
  <li>Notes: {{ transaction.notes }}</li>
  {% endif %}
  <li><a href="{% url 'transaction-update' transaction.pk %}">Update Transaction</a></li>
  <li><a href="{% url 'transaction-delete' transaction.pk %}">Delete Transaction</a></li>
</ul>
{% endblock %}
