{% extends 'budgets/layout.html' %}

{% block body %}
<h1>Transaction List</h1>
{% if transaction_list %}
<table class='table'>
  <tr>
    <th scope='col'>Transaction</th>
    <th scope='col'>Amount</th>
    <th scope='col'>Date</th>
    <th scope='col'>Notes</th>
  </tr>
  {% for transaction in transaction_list %}
  <tr>
    <th scope='row'><a href="{{ transaction.get_absolute_url }}">{{ transaction.name }}</a></td>
    <td>{{ transaction.amount }}</td>
    <td>{{ transaction.date }}</td>
    <td>{{ transaction.notes }}</td>
  </tr>
  {% endfor %}
</table>
  {% else %}
    <p>There aren't any transactions to display</p>
  {% endif %}
{% endblock %}
