{% extends 'layout.html' %}
{% block content %}
<h1>Welcome to the Music Database!</h1>

<p>This is a test site that will show some music and stuff</p>
<em>Made by: Lupino the Wolf</em>

<h2>Fancy Stuff</h2>
<p>This is a list of all the artists we have:</p>
<ul>
  {% for artist in all_artists %}
  <li><strong>{{ artist.surname }}</strong>, {{ artist.name }}</li>
  {% empty %}
  <li><strong>There are no artists to display</strong></li>
  {% endfor %}
</ul>
<em>You have visited this page {{ site_hits }} times!</em>
{% endblock %}
